<div id="footer">
    <div class="row">
        <p class="email">
        kisiicabs@customercare.com</p>
        <p class="text-center"> +254702241222 <br>


        </p>
        <p class="text-center"> Kisii cabs and taxis is a company that offers cabs for visiting individuals or
        residents of Kisii town and its outskirts.
        We ensure that your visit is awesome. We do best to ensure customer satisfaction and comfort. 
        Our cars are clean and in good condition.
        </p>
    </div>
    <div class="icons">
        <p class=text-center>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.facebook.com" , target:"blank" do %>
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i><% end %>
    </span>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.twitter.com", target:"blank" do %>
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
        <% end %>
    </span>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.instagram.com", target: "blank" do %>
        <i class="fa fa-instagram fa-stack-2x"></i>
        <% end %>
    </span>
    </p>
       </div>
       <hr>

    <p class="text-center"> &copy; Kisii cabs and taxis <%= Date.today.year%>
</p>
<p class="text-center">Designed and maintained by Cess</p>
</div>
