<div id="footer">
    <div class="row">
        <p class="email">
        lafex@customercare.com</p>
        <p class="text-center"> +254725797165      |     +254739511498<br>

        or Visit us at at the Great Wall near your way to hellow.

        </p>
        <p class="text-center"> Lafex is a company that books flights, hotels and cabs for you when visiting East Africa.
        We ensure that your visit is awesome. We do all the shit and boring stuff for you and all
        you have to do is come and enjoy your vacation, meeting or conference. 
        </p>
    </div>
    <div class="icons">
        <p class=text-center>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.facebook.com" , target:"blank" do %>
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i><% end %>
    </span>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.twitter.com", target:"blank" do %>
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
        <% end %>
    </span>
    <span class="fa-stack fa-lg">
        <%= link_to "https://www.instagram.com", target: "blank" do %>
        <i class="fa fa-instagram fa-stack-2x"></i>
        <% end %>
    </span>
    </p>
       </div>
       <hr>

    <p class="text-center"> &copy;  Lafex Tours and Safari <%= Date.today.year%>
</p>
<p class="text-center">Designed and maintained by Cess</p>
</div>
