<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
            <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to"Kisii Cabs and Taxi Hire", root_path %></li>
        </ul>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Contact", "#footer" %>  </li>
                <li><%= link_to "About", "#home" %> </li>
            </ul>
        </nav>
    </div>
</header>
