<div class="top-bar">
    <div class="top-bar-right">
         <%= link_to fa_icon('mobile-phone' ), "#footer" %>
         <%= link_to fa_icon('globe' ), "#home" %>
    </div>
    <div class="top-bar-left">
        <h3><%= link_to fa_icon('home' ),root_path %></h3>

    </div>
</div>
