<div class="top-bar">
    <div style="font-size: 44px">
        <div class="top-bar-right">
            <%= link_to fa_icon('mobile-phone' ), "#footer" %>
            <%= link_to fa_icon('user' ), "#home" %>
        </div>
        <div class="top-bar-left">
            <%= link_to fa_icon('home' ),root_path %>

        </div>
    </div>
</div>
