<div class="top-bar">
    <div class="top-bar-right">
        <%= link_to "Contact", "#" %>
        <li><a href="#">About</a></li>
    </div>
    <div class="top-bar-left">
        <%= link_to "Home",root_path %>
    </div>
</div>
