<div class="top-bar">
    <div class="top-bar-right">
        <%= link_to "Contact", "#footer" %>
        <%= link_to "About", "#home" %>
    </div>
    <div class="top-bar-left">
        <h1><%= link_to "Lafex Tours and Safari",root_path %></h1>
    </div>
</div>
