<div class="top-bar">
    <div class="top-bar-right">
        <%= link_to "Contact", "#footer" %>
        <%= link_to "About", "#home" %>
    </div>
    <div class="top-bar-left">
        <%= link_to "Home",root_path %>
    </div>
</div>
