<div class="top-bar">
    <div style="font-size: 30px">
        <div class="top-bar-right">
            <%= link_to fa_icon('home' ),root_path %>
            <%= link_to "Contact", "#footer" %>
            <%= link_to "About", "#home" %>
        </div>
        <div class="top-bar-left">
            <h2><%= link_to"Lafex  Tours and Safaris", root_path %></h2>

        </div>
    </div>
</div>
