<div class "row">

    <h1 class="text-center">Lafex Tours and Safaris</h1>
    <hr>
    <div class="item" >
        <p>This a safari and tours company</p>
    </div>
    <div class="home">
        <div class="medium-4 columns">
            <p class="text-center">
            Pull requests are the way to go here. I apologise in advance for the
            slow action on pull requests and issues. I only have two rules for submitting
            a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
            and let us see a demo of submitted animations in a pen. That last one is important. 
            </p>
        </div>
        <div class="medium-4 columns">
            <p class="text-center">
            Pull requests are the way to go here. I apologise in advance for the
            slow action on pull requests and issues. I only have two rules for submitting
            a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
            and let us see a demo of submitted animations in a pen. That last one is important. 
            </p>
        </div>
        <div class="medium-4 columns">
            <p class="text-center">
            Pull requests are the way to go here. I apologise in advance for the
            slow action on pull requests and issues. I only have two rules for submitting
            a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
            and let us see a demo of submitted animations in a pen. That last one is important. 
            </p>
        </div>

    </div>
    <div class="images">
        <div class="row">
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
        </div>
    </div>
    <div class= "description">
        <p class="text-center"> The Lafex safari's and tours is a website that helps you book for 
        a hotel, flight for vacations, meetings and conferences from anywhere in the world to Kenya
        The whole idea is make the travelling plans all easy. You just give us the place, date and the event and
        we shall make all the reservations for you 
        </p>
    </div>

