<div class "row">

    <div class="item" >
    <%# <h1 class="header">Lafex Tours and Safari</h1> %>
        <div class="animated rotateIn">
            <p class="medium-8 medium-offset-2 columns">
            <br>This is a safari and tours company based in Kenya it is concerned with solving all the hectic
            reservations and booking we all do when we travel. Now you can just relax and Lafex will do all this work for you and all you have to 
            do is call us cause we got you. We book hotels, flights, conference rooms and even parks for you. Be it you are coming to the city,
            beaches, mountain climbing or  even camping and seminaries. Lafex is reliable and we put our clients first. We work to
            ensure customer satisfaction and make sure the customer enjoys their visits. We are just an email away or you can call
            us for reservations, enquiries and complains. We listen, act and deliver according to your specifications.</p>
        </div>
    </div>
    <br>
    <div id="home">
        <h2 class="text-center">What We do</h2>
        <hr>
            <div class="medium-4 columns">
                <p class="text-center">
                Pull requests are the way to go here. I apologise in advance for the
                slow action on pull requests and issues. I only have two rules for submitting
                a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
                and let us see a demo of submitted animations in a pen. That last one is important. 
                </p>
            </div>
            <div class="medium-4 columns">
                <p class="text-center">
                Pull requests are the way to go here. I apologise in advance for the
                slow action on pull requests and issues. I only have two rules for submitting
                a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
                and let us see a demo of submitted animations in a pen. That last one is important. 
                </p>
            </div>
            <div class="medium-4 columns">
                <p class="text-center">
                Pull requests are the way to go here. I apologise in advance for the
                slow action on pull requests and issues. I only have two rules for submitting
                a pull request: match the naming convention (camelCase, categorised [fades, bounces, etc]) 
                and let us see a demo of submitted animations every way in a pen. That last one is important. 
                </p>
        </div>

    </div>
    <div class="images">
        <div class="row">
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "gazel.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "saf.jpeg" %>
            </div>
            <div class= "medium-3 columns">
                <%= image_tag "gazel.jpeg" %>
            </div>
        </div>
    </div>
    <div class= "description">
        <p class="text-center"> The Lafex safari's and tours is a website that helps you book for 
        a hotel, flight for vacations, meetings and conferences from anywhere in the world to Kenya
        The whole idea is make the travelling plans all easy. You just give us the place, date and the event and
        we shall make all the reservations for you 
        </p>
    </div>

