#footer{
height: 280px;
color:black;
background-color:gray;
font-family:Monospace;
padding-bottom:0px;


}
.email{
    // color:white;
    text-align:center;
    // text-background:red;
    font-family:Times new Roman;
    font-size:2em;
        color:red;
    
}
.icons{
   position:center;
}
.top-bar
{
    background-color:brown;
}
