// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item{

    background-image: image-url('saf.jpeg');
    background-attachment: fixed;
    position: relative;
    height: 400px;
    .text_center {
        color:black;
        bottom: 10em;
    }

}
