// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item{

    background-image: image-url('55.jpg');
    background-image: no-repeat ;

    background-attachment: fixed;
    position: relative;
    height: 500px;
    font-size:1.5em;
    // color: green;
    font-family:Ubuntu;
        color:white;
    .text_center {
        bottom: 10em;
    }

}
